 input[type=submit]{
  width: 10%;
  background-color:#3769DA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity:1;
  display: inline-block;
  font-size: 16px;
}

input{
  text-align:left;
  width: 60%;
  height: 40px;
}